[Unit]
Description=WireGuard via wg-quick for %i
After=network.target

[Service]
ExecStart=/usr/bin/wg-quick up %i
#ExecStop=/usr/bin/wg-quick down %i
User=root
Group=root

[Install]
WantedBy=multi-user.target
